@import '../colors';

.input {
  width: 220px;
  height: 25px;
  padding: 0.4em 0.6em;
  color: $primary-text;
  border-radius: 4px;
  box-shadow: none;
  border: solid 1px $placeholder-text;
  &::placeholder {
    color: $placeholder-text;
  }
  &__label {
    margin-bottom: 0.3em;
    display: block;
  }
}
