@import '../colors';

.new-company{
  &__newinfo {
    color: $info;
    margin-top: 0.3em;
    font-size: 0.8rem;
  }
  &__track-btn {
    margin-top: 60px;
  }
  &__error {
    margin-top: 25px;
    transition: opacity 0.5s ease-in-out;
  }
}
.company {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  margin-bottom: 1.5em;
  position: relative;
  max-width: 500px;
  padding: 0.5em;
  background-color: lighten($primary-color, 35);
  transition: background-color 0.5s ease-in-out;

  &:hover {
    background-color: lighten($primary-color, 30);
    .company__remove {
      opacity: 1
    }
  }
  &__remove {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    color: $danger;
    font-weight: 600;
    transition: opacity 0.5s ease-in-out;
  }
  &__line {
    margin-top: 0.3em;
    &:first-child {
      margin-top: 0;
    }
  }
  &__image-container {
    width: 64px;
    height: 64px;
    background-color: #dedede;
    margin-right: 1.2em;
    display: flex;
    align-items: center;
  }
  &__image {
    width: 64px;
    height: auto;
  }
  &__name {
    font-weight: 600;
    font-size: 1.2em;
    margin-right: 1em;
  }
  &__symbol {
    margin-right: 0.8em;
  }
  &__region {

  }
  &__open {
    margin-left: 0.8em;
  }
  &__close {

  }
  &__timezone {
    margin-left: 0.2em;
  }
  &__price {
    font-weight: 600;
  }
  &__currency {
    margin-left: 0.2em;
  }
  &__change {
    margin-left: 0.8em;
    &--positive {
      color: $success;
    }
    &--negative {
      color: $danger;
    }
  }
  &__change-percent {
    margin-left: 0.2em;
    &--positive {
      color: $success;
    }
    &--negative {
      color: $danger;
    }
  }
  &__closed {
    margin-left: 0.8em;
  }
}
