@import '../colors';

.new-company{
  &__newinfo {
    color: $info;
    margin-top: 0.3em;
    font-size: 0.8rem;
  }
  &__track-btn {
    margin-top: 60px;
  }
  &__error {
    margin-top: 25px;
    transition: opacity 0.5s ease-in-out;
  }
}
.company {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  margin-bottom: 1.5em;
  &__line {
    margin-top: 0.3em;
    &:first-child {
      margin-top: 0;
    }
  }
  &__image {
    width: 64px;
    height: 64px;
    background-color: #dedede;
    margin-right: 1.2em;
  }
  &__symbol {

  }
  &__price {
    font-weight: 600;
  }
  &__change {
    margin-left: 10px;
    &--positive {
      color: $success;
    }
    &--negative {
      color: $danger;
    }
  }
  &__change-percent {
    margin-left: 10px;
    &--positive {
      color: $success;
    }
    &--negative {
      color: $danger;
    }
  }
  &__closed {
    margin-left: 10px;
  }
}
